<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

    <block th:fragment="topnav">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/TheORCS-logo.png}"/>
                TheORCS
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/}">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <!--/* Beginning of the actual Menu */-->
                    <th:block sec:authorize="isAuthenticated()">
                        <li class="nav-item dropdown" th:if="${!_topnav.campaigns.isEmpty()}">
                            <a class="nav-link dropdown-toggle" hre="#" id="navbarDropdownCampaigns" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{includes.navs.topnav.campaign}">
                                Campaigns
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/secure/campaign/' + ${campaign.id}}" th:each="campaign : ${_topnav.campaigns}" th:text="${campaign.name}">Campaign's name</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:text="#{includes.navs.topnav.createcampaign}" th:href="@{/secure/campaign/create}">Create a Campaign</a>
                        </li>
                        <li class="nav-item dropdown" th:if="${!_topnav.warbands.isEmpty()}">
                            <a class="nav-link dropdown-toggle" hre="#" id="navbarDropdownWarbands" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="#{includes.navs.topnav.warbands}">
                                Warbands
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" th:href="@{'/secure/warband/' + ${warband.id}}" th:each="warband : ${_topnav.warbands}" th:text="${warband.name}">Warband's name</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:text="#{includes.navs.topnav.createwarband}" th:href="@{/secure/warband/create}">Create a Warband</a>
                        </li>
                    </th:block>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="btn btn-outline-danger my-2 my-sm-0" th:text="#{includes.navs.topnav.signin}">Login/Sign In</a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-outline-danger my-2 my-sm-0" th:text="#{includes.navs.topnav.logout}">Logout</a>
                </form>
            </div>
        </nav>
    </block>

    <block th:fragment="footer">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-2">
            <a class="navbar-brand" href="#">Fixed bottom</a>
        </nav>
    </block>

</body>
</html>