<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:fragment="header">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">

</head>
<body>
    <div th:fragment="ckeditor">
        <script th:src="@{/webjars/ckeditor/full/ckeditor.js}"></script>
        <script th:src="@{/js/ckeditor.config.js}"></script>
    </div>

    <footer th:fragment="footer">
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>

        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>

        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

        <script th:src="@{/webjars/font-awesome/js/all.js}"></script>
        <script>
            /*<![CDATA[*/
            $j = jQuery.noConflict();
            $j(document).ready(function() {
                $j('#loginButton').on('click', function(){
                    $j("#loginForm-modal").modal("show");
                    return false;
                });
            });
            /*]]>*/
        </script>
    </footer>
</body>
</html>