<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <head lang="en">
            <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE" th:text="#{product.name}">FCM</title>
            <!--/*/ <th:block th:include="/layout/layout/inc_scripts :: header"></th:block> /*/-->

            <!--/*/ <th:block th:include="/layout/layout/inc_scripts :: ckeditor" th:if="${useCK == true}"></th:block> /*/-->
        </head>
    </head>
    <body>
        <!--/*/ <th:block th:include="/layout/layout/inc_navs :: topnav"></th:block> /*/-->
        <section layout:fragment="content">
            <p>Page content goes here</p>
        </section>

        <!--/*/ <th:block th:include="/layout/layout/inc_navs :: footer"></th:block> /*/-->

        <!--/*/ <th:block th:include="/layout/layout/inc_scripts :: footer"></th:block> /*/-->

        <!--/*/ <th:block th:include="/layout/utils/debug :: debug" th:if="${session._showDebug == true}"></th:block> /*/-->

        <!--/*/ <th:block th:include="/layout/utils/debug :: dump" th:if="${session._showDebug == true}"></th:block> /*/-->
    </body>
</html>