<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
    <body>
        <block th:fragment="sheet(soldiers)">
            <table class="table table-sm table-bordered">
                <tbody>
                <div th:each="soldier : ${soldiers}" th:remove="tag">
                    <tr>
                        <th scope="col" class="bg-info" th:text="#{fragments.warband.sheet.soldiers.soldier}">Soldier</th>
                        <th scope="col" colspan="5" th:text="${soldier.name}">Soldier's Name</th>
                        <th scope="col" class="bg-info" th:text="#{fragments.warband.sheet.soldiers.type}">Type</th>
                        <th scope="col" colspan="3" th:text="#{${'soldier.type.' + soldier.soldierType}}">Soldier's Type</th>
                    </tr>
                    <tr>
                        <th scope="row" th:text="#{fragments.warband.sheet.move}">Move</th>
                        <th scope="row" th:text="#{fragments.warband.sheet.fight}">Fight</th>
                        <th scope="row" th:text="#{fragments.warband.sheet.shoot}">Shoot</th>
                        <th scope="row" th:text="#{fragments.warband.sheet.armor}">Armor</th>
                        <th scope="row" th:text="#{fragments.warband.sheet.will}">Will</th>
                        <th scope="row" th:text="#{fragments.warband.sheet.health}">Health</th>
                        <td colspan="4" th:text="#{fragments.warband.sheet.curenthealth}">Current Health</td>
                    </tr>
                    <tr>
                        <td th:text="${soldier.move}">X</td>
                        <td th:text="${soldier.fight}">X</td>
                        <td th:text="${soldier.shoot}">X</td>
                        <td th:text="${soldier.armor}">X</td>
                        <td th:text="${soldier.will}">X</td>
                        <td th:text="${soldier.health}">X</td>
                        <td colspan="4"></td>
                    </tr>
                    <tr>
                        <td colspan="6">Items (Standard equipment + 1)</td>
                        <td colspan="4">Notes</td>
                    </tr>
                    <tr>
                        <td colspan="10"></td>
                    </tr>
                </div>
                </tbody>
            </table>
        </block>
    </body>
</html>