<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/portal/error}">
<head lang="en">
    <title th:text="#{pages.error500.title}">Page Title</title>
</head>
    <body>
        <div layout:fragment="content">
            <div class="row">
                <div class="col">
                    <h1 th:text="#{pages.error500.h1}">Error 500 - System Error</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p th:text="#{pages.error500.msg}">It appears something went wrong</p>
                </div>
            </div>
            <section th:if="${exception != null}">
                <div class="row">
                    <div class="col-md-4 ml-auto">
                        <span class="legend">Date</span>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${timestamp}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto">
                        <span class="legend">Path</span>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${path}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto">
                        <span class="legend">Error</span>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${error}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto">
                        <span class="legend">Status</span>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${status}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto">
                        <span class="legend">Message</span>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${message}"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto">
                        <span class="legend">Exception</span>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${exception}"></span>
                    </div>
                </div>
                <div class="row" th:if="${trace != null}">
                    <div class="col-md-4 ml-auto">
                        <span class="legend">Trace</span>
                    </div>
                    <div class="col-md-8">
                        <span th:text="${trace}"></span>
                    </div>
                </div>
            </section>
        </div>
    </body>
</html>